.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  background-color: rgb(21, 13, 13);
}

.container {
  display: flex;
  border: 2px solid silver;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}

.action-button {
  background-color: rgb(17, 17, 103);
  color: white;
  margin: 0 5px;
}

.tasks-container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tasks-item {
  border-radius: 50px;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: rgb(69, 145, 170);
  width: 350px;
  display: flex;
  align-items: center;
  max-width: 250px;
  text-wrap: inherit;
}

.tasks-text {
  flex:1;
}
